:root {
    --grey: rgb(55, 55, 55);
    --goldenrod: goldenrod;
    --gold: gold;
    --white: #fff;
    --black: rgb(25, 25, 25);
    --alphaGrey: rgba(55, 55, 55, 0.77);
    --alphaBlack: rgba(25, 25, 25, 0.8);
    --glass: rgba(205, 205, 205, .32);
    --max-width: 520px;
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Segoe UI', Geneva, Verdana, sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-image: url(Images/Blue\ quill\ pen.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

/* navBar */

header {
    width: 100%;
    height: 1.8rem;
    font-size: .9rem;
    background-color: var(--grey);
    border-bottom: solid .3px var(--gold);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 .7rem;
}

.logo img {
    position: relative;
    top: 2.5px;
    width: 3.2rem;
}
  
.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-menu li {
    margin: 0 2.2rem;
    width: 5rem;
    height: 1.6rem;
}
  
.nav-menu li a, .dropdown-menu li a {
    text-decoration: none;
    color: var(--white);
}

.dropdown {
    align-items: center;
    width: 25px;
}

.options {
    display: grid;
    gap: 1.5px;
    cursor: pointer;
    padding: .4rem .4rem;
    width: 17px;
    height: 14px;
    transition: transform .2s ease-in-out;
}
  
.options span {
    width: 18px;
    height: 2px;
    background-color: #fff;
}

.options:hover {
    transform: rotate(90deg);
}

.dropdown-menu {
    position: absolute;
    background-color: var(--grey);
    border-bottom: solid .3px var(--gold);
    width: 5rem;
    overflow: hidden;
    transform: translateX(-45px);
    list-style: none;
    margin: 0;
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    z-index: 1;
}

.dropdown-menu li {
    text-align: center;
    height: 1.6rem;
    margin: 0 0 .1rem 0;
    transform: translateX(-39px);
}

.nav-menu li:first-of-type, .nav-menu li:hover, .dropdown-menu li:hover, .options:hover {
    background: linear-gradient(90deg, var(--grey), var(--black) 10% 90%, var(--grey));
}

/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 2.6rem);
    overflow: hidden auto;
}

main::-webkit-scrollbar {
    height: 100%;
    width: 4px;
    background-color: rgba(25, 25, 25, 0.3);
}

main::-webkit-scrollbar-thumb {
    background-color: var(--gold);
}

/* dailyBit */

.container--one {
    width: 90%;
    background-color: var(--grey);
    margin-top: 3rem;
    padding: 1rem 1rem 2px 1rem;
    border: solid .3px gold;
    transition: background .4s ease-in-out;
}

.container--one:hover {
    background: linear-gradient(90deg, var(--alphaGrey), var(--alphaBlack) 35% 65%, var(--alphaGrey));
}

.container--one h2, .container--two h2 {
    margin: 0;
    padding: 0;
    font-family: Mistral, cursive;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--goldenrod);
    filter: brightness(130%);
}

.container--one h2::after, .container--two h2::after {
    content: "";
    display: block;
    border-bottom: solid .2px var(--goldenrod);
    filter: brightness(110%);
}

.wrapper--one {
    display: flex;
    position: relative;
    overflow-x: auto;
}

.wrapper--one::-webkit-scrollbar {
    height: 2px;
    width: 100%;
    background-color: rgba(25, 25, 25, 0.3);
}

.wrapper--one:hover::-webkit-scrollbar {
    height: 5px;
}

.wrapper--one::-webkit-scrollbar-thumb {
    background-color: var(--gold);
}

hr {
    border: solid .1px var(--gold);
}

.bit {
    min-width: 400px;
    height: 150px;
    border: solid .3px var(--black);
    padding: 0 1rem 1rem ;
    margin: 0 1rem 1rem 0;
    line-height: 24px;
    user-select: none;
    color: #fff;
    font-size: 27px;
    font-family: 'Edwardian Script ITC', 'Bradley Hand ITC', cursive;
    transition: border-left-color .3s ease-in-out, filter 80ms ease-in-out;
}

.bit:hover {
    border-left-color: gold;
    filter: brightness(110%);
}

.bit:nth-child(1) {
    background-image: url(Images/Day\ 1.jpg);
    background-size: 130%;
    background-position: 96% 30%;
    background-repeat: no-repeat;
}

.bit:nth-child(2) {
    background-image: url(Images/Day\ 2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bit:nth-child(3) {
    background-image: url(Images/Day\ 3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    filter: contrast(95%);
}

.bit h4 {
    margin: 5px 0 0 0;
}

.bit p:first-of-type {
    text-align: center;
    margin: .1px;
}

.bit p {
    margin-top: 0px;
}

.bit .subscript {
    text-align: end;
    font-family: Mistral, cursive;
    font-size: 19px;
    transform: translate(5px, -37px);
}

/* button */

.sqbtn {
    border: solid .3px var(--black);
    color: var(--white);
    background: linear-gradient(105deg, var(--goldenrod) 26%, var(--gold) 50%, var(--goldenrod) 74%);
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .1rem;
    margin: 1rem 1rem 1rem 0;
    padding: .9rem 2rem;
    text-transform: uppercase;
    transition: filter 80ms ease-in-out, border-left-color .3s ease-in-out, transform 80ms ease-in;
}
 
.sqbtn:active {
    transform: scale(.95);
}

.sqbtn:hover {
    filter: brightness(110%);
    border-left-color: var(--gold);
}

/* Poems */

.container--two {
    width: 90%;
    background-color: var(--grey);
    border: solid .3px var(--gold);
    margin: 3rem;
    padding: 1rem;
    transition: background .4s ease-in-out;
}

.wrapper--two {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    place-items: center;
}

.container--two:hover {
    background: linear-gradient(90deg, var(--alphaGrey), var(--alphaBlack) 35% 65%, var(--alphaGrey));
}

.poem {
    width: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.poem--title {
    aspect-ratio: .75;
    padding: .1rem;
    border: solid 1px var(--glass);
    transition: border-bottom-color .3s ease-in-out, filter 80ms ease-in-out;
}

.poem--title:hover {
    border-bottom-color: gold;
    filter: brightness(105%);
}

.poem--title h3 {
    font-family: Pristina;
    font-size: 1.4rem;
    font-weight: 200;
    font-variant: small-caps;
    word-spacing: 4px;
    text-align: center;
    transform: translateY(260px);
    -webkit-text-stroke: 0.7px gold;
    -webkit-text-fill-color: goldenrod;
    transition: transform .4s ease-out;
}

.poem--title:hover h3 {
    transform: translateY(230px);
}

.poem--rating {
    display: flex;
    justify-content: space-around;
    background: linear-gradient(var(--alphaBlack), black  40%);
    height: 30px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.poem--rating button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    transition: transform 80ms ease-in;
}

.poem--rating button:active {
    transform: scale(.95);
    -webkit-text-stroke: var(--gold) .5px;
}

.poem--rating button span {
    font-family: monospace;
    font-size: .9rem;
    color: var(--white);
}

.poem--title:hover .poem--rating {
    opacity: 1.0;
}

.poem:nth-child(1) {
    background-image: url(Images/Beauty.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.poem:nth-child(2) {
    background-image: url(Images/Fantasy.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.poem:nth-child(3) {
    background-image: url(Images/Peace.jpg);
    background-size: 100%;
    background-position: center 100%;
    background-repeat: no-repeat;
}

.poem:nth-child(4) {
    background-image: url(Images/Nobody.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.poem:nth-child(5) {
    background-image: url(Images/Artist\ falls.jpg);
    background-size: 100%;
    background-position: center 90%;
    background-repeat: no-repeat;
}

.poem:nth-child(6) {
    background-image: url(Images/Heartstrings.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.poem:nth-child(7) {
    background-image: url(Images/Heartless.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.poem:nth-child(8) {
    background-image: url(Images/More\ than\ her\ name.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.poem--body {
    width: 22.5rem;
    border: solid .2px var(--gold);
    background: linear-gradient(45deg, var(--alphaBlack) 49.5%, var(--goldenrod) 50%, var(--alphaBlack) 50.5%);
    background-size: 400%;
    background-position: center;
    backdrop-filter: blur(7px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    z-index: -2;
    padding: .2rem 1.5rem;
    font-family: Mistral, cursive;
    font-size: 1.12rem;
    font-variant: small-caps;
    line-height: 18px;
    color: var(--gold);
    visibility: hidden;
    opacity: 0;
    transition: all .6s 1.5s ease;
    animation: background-line 10s linear infinite forwards;
}

.poem--title:hover ~ .poem--body {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.poem--body:hover {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.poem--body h3 {
    font-family: Pristina;
    font-size: 1.2rem;
    font-weight: 200;
    text-decoration: underline;
    word-spacing: 4px;
    text-align: center;
    -webkit-text-stroke: 0.3px var(--gold);
    -webkit-text-fill-color: var(--goldenrod);
}

.poem--body p {
    font-weight: 50;
}

.poem--body span, .poem--title h3 span {
    -webkit-text-stroke: red .5px;
}

.poem--body .subscript {   
    text-align: end;
    margin-top: 0;
}

@keyframes background-line {
    0%, 30% {
        background-position: 0 50%;
    }
    35%, 100% {
        background-position: 100% 50%;
    }
}

/* footer */

footer p {
    height: auto;
    color: var(--white);
    font-size: .7rem;
    font-family: monospace;
    text-align: end;
    margin: 0;
    padding-right: .7rem;
}
