:root {
  --grey: rgb(55, 55, 55);
  --goldenrod: goldenrod;
  --gold: gold;
  --white: #fff;
  --black: rgb(25, 25, 25);
  --alphaGrey: rgba(55, 55, 55, 0.67);
  --alphaBlack: rgba(25, 25, 25, 0.8);
  --glass: rgba(205, 205, 205, .32);
  --max-width: 520px;
  --max-height: 470px;
  font-size: 17px;
  font-family: 'Helvetica Neue', 'Segoe UI', Geneva, Verdana, sans-serif;
}

body {
  box-sizing: border-box;
  text-align: center;
  background-image: url(Images/Profile.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 40%;
  height: 100vh;
  display: grid;
  gap: 3rem;
  place-items: center;
  overflow: hidden auto;
}

body::-webkit-scrollbar {
  height: 100%;
  width: 4px;
  background-color: var(--glass);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--gold);
}

/* container */

.container {
  max-width: var(--max-width);
  border: solid .2px var(--gold);
  margin-top: 3rem;
  padding: 3rem 2rem 2rem;
  background-color: var(--glass);
  backdrop-filter: blur(4px);
  box-shadow: 0 .9rem 1.7rem rgba(0, 0, 0, .25), 0 .7rem .7rem rgba(0, 0, 0, .22);
  width: 100%;
  user-select: none;
  transition: background .4s ease-in-out;
}

.container:not(.container:first-child) {
  margin-top: 0;
}

.container:hover {
  background: linear-gradient(90deg, var(--alphaBlack), var(--glass) 35% 65%, var(--alphaBlack));
}

.banner {
  background-image: url(Images/Banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center 90%;
  height: 8.5rem;
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: -1;
  transition: height .4s ease-in-out;
}

.container:hover .banner {
  height: 13rem;
}

img {
  width: 10rem;
  border-radius: 5rem;
}

h1 {
  margin: 0;
  font-size: 3.2rem;
  font-family: 'Kaufmann BT', 'Mistral', cursive;
  font-weight: 100;
  color: var(--gold);
  -webkit-text-stroke: var(--goldenrod) .3px ;
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Mistral', cursive;
  font-weight: 100;
  color: var(--goldenrod);
  filter: brightness(110%);
}

p {
  color: var(--black);
  font-weight: 250;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

/* Button */

.rndbtn {
  background: linear-gradient(105deg, var(--goldenrod) 26%, var(--gold) 50%, var(--goldenrod) 74%);
  border: solid .3px var(--gold);
  color: var(--white);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-top: 1.1rem;
  padding: .6rem;
  border-radius: 1.7rem;
  text-transform: uppercase;
  transition: transform 80ms ease-in, filter 80ms ease-in-out;
}

.rndbtn:active {
  transform: scale(.95);
}

.rndbtn:hover {
  filter: brightness(110%);
}

/* footer */

footer p {
  height: auto;
  color: var(--white);
  font-size: .7rem;
  text-align: end;
  font-family: monospace;
  margin: 0;
  padding-right: .7rem;
}
